*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore Python cache files
__pycache__/

# Ignore Python virtual environment
venv/

# Ignore JetBrains IDE settings (if you're using PyCharm)
.idea/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd
